<section class="auth-container">

  <!-- FONDO SUPERIOR -->
  <div class="auth-bg-top"></div>

  <!-- TARJETA -->
  <div class="auth-card">

    <h2>Crear cuenta</h2>

    <p>
      Regístrate para gestionar tus reservas.
    </p>

    <form>

      <!-- NOMBRE -->
      <label>Nombre completo</label>

      <input
        type="text"
        placeholder="Ingresa tu nombre"
        [(ngModel)]="usuario.nombre"
        name="nombre"
      />

      <!-- CORREO -->
      <label>Correo institucional</label>

      <input
        type="email"
        placeholder="ejemplo@universidad.edu"
        [(ngModel)]="usuario.correo"
        name="correo"
      />

      <!-- NUMERO CUENTA -->
      <label>Número de cuenta</label>

      <input
        type="number"
        placeholder="Ej: 20251001"
        [(ngModel)]="usuario.numeroCuenta"
        name="numeroCuenta"
      />

      <!-- PASSWORD -->
      <label>Contraseña</label>

      <input
        type="password"
        placeholder="Crea una contraseña"
        [(ngModel)]="usuario.password"
        name="password"
      />

      <!-- BOTON -->
      <button
        type="button"
        (click)="registrarUsuario()"
      >
        Registrarse
      </button>

    </form>

    <span>
      ¿Ya tienes cuenta?
      <a routerLink="/login">Inicia sesión</a>
    </span>

  </div>

</section>